#logo {
    margin-left: auto !important;
    margin-right: auto !important;
}

.icon {
    color: black;
}

.has-text-white{
    font-family: 'Teko', sans-serif;
    font-size: 50px;
}

.has-text-black{
    font-family: 'Teko', sans-serif;
    font-size: 50px;
}

.title{
    font-family: 'Teko', sans-serif;
    font-size: 35px;
}

#weatherCondition{
    font-family: 'Teko', sans-serif;
    font-size: 40px;
}
.button close{
    font-family: 'Teko', sans-serif;
    font-size: 25px; 
}
#launchGreen{
    font-family: 'Teko', sans-serif;
    font-size: 30px; 
}
#launchYellow{
    font-family: 'Teko', sans-serif;
    font-size: 30px; 
}
#launchRed{
    font-family: 'Teko', sans-serif;
    font-size: 30px; 
}
.modal-card-body{
    font-family: 'Teko', sans-serif;
    font-size: 35px;
}

h1{
    font-family: 'Teko', sans-serif;
    font-size: 40px;
}
#resultName-0{
    font-family: 'Teko', sans-serif;  
    font-size: 40px;
}
#categoryDisplay-0{
    font-family: 'Teko', sans-serif;  
    font-size: 27px;
}
#resultAddress-0{
    font-family: 'Teko', sans-serif;  
    font-size: 25px;
}
#isOpen-0{
    font-family: 'Teko', sans-serif;
    font-size: 40px;
}
#resultName-1{
    font-family: 'Teko', sans-serif;  
    font-size: 40px;
}
#categoryDisplay-1{
    font-family: 'Teko', sans-serif;  
    font-size: 27px;
}
#resultAddress-1{
    font-family: 'Teko', sans-serif;  
    font-size: 25px;
}
#isOpen-1{
    font-family: 'Teko', sans-serif;
    font-size: 40px;
}
#resultName-2{
    font-family: 'Teko', sans-serif;  
    font-size: 40px;
}
#categoryDisplay-2{
    font-family: 'Teko', sans-serif;  
    font-size: 27px;
}
#resultAddress-2{
    font-family: 'Teko', sans-serif;  
    font-size: 25px;
}
#isOpen-2{
    font-family: 'Teko', sans-serif;
    font-size: 40px;
}
#resultName-3{
    font-family: 'Teko', sans-serif;  
    font-size: 40px;
}
#categoryDisplay-3{
    font-family: 'Teko', sans-serif;  
    font-size: 27px;
}
#resultAddress-3{
    font-family: 'Teko', sans-serif;  
    font-size: 25px;
}
#isOpen-3{
    font-family: 'Teko', sans-serif;
    font-size: 40px;
}
#resultName-4{
    font-family: 'Teko', sans-serif;  
    font-size: 40px;
}
#categoryDisplay-4{
    font-family: 'Teko', sans-serif;  
    font-size: 27px;
}
#resultAddress-4{
    font-family: 'Teko', sans-serif;  
    font-size: 25px;
}
#isOpen-4{
    font-family: 'Teko', sans-serif;
    font-size: 40px;
}
#resultName-5{
    font-family: 'Teko', sans-serif;  
    font-size: 40px;
}
#categoryDisplay-5{
    font-family: 'Teko', sans-serif;  
    font-size: 27px;
}
#resultAddress-5{
    font-family: 'Teko', sans-serif;  
    font-size: 25px;
}
#isOpen-5{
    font-family: 'Teko', sans-serif;
    font-size: 40px;
}
#resultName-6{
    font-family: 'Teko', sans-serif;  
    font-size: 40px;
}
#categoryDisplay-6{
    font-family: 'Teko', sans-serif;  
    font-size: 27px;
}
#resultAddress-6{
    font-family: 'Teko', sans-serif;  
    font-size: 25px;
}
#isOpen-6{
    font-family: 'Teko', sans-serif;
    font-size: 40px;
}
#resultName-7{
    font-family: 'Teko', sans-serif;  
    font-size: 40px;
}
#categoryDisplay-7{
    font-family: 'Teko', sans-serif;  
    font-size: 27px;
}
#resultAddress-7{
    font-family: 'Teko', sans-serif;  
    font-size: 25px;
}
#isOpen-7{
    font-family: 'Teko', sans-serif;
    font-size: 40px;
}
#resultName-8{
    font-family: 'Teko', sans-serif;  
    font-size: 40px;
}
#categoryDisplay-8{
    font-family: 'Teko', sans-serif;  
    font-size: 27px;
}
#resultAddress-8{
    font-family: 'Teko', sans-serif;  
    font-size: 25px;
}
#isOpen-8{
    font-family: 'Teko', sans-serif;
    font-size: 40px;
}
#resultName-9{
    font-family: 'Teko', sans-serif;  
    font-size: 40px;
}
#categoryDisplay-9{
    font-family: 'Teko', sans-serif;  
    font-size: 27px;
}
#resultAddress-9{
    font-family: 'Teko', sans-serif;  
    font-size: 25px;
}
#isOpen-9{
    font-family: 'Teko', sans-serif;
    font-size: 40px;
}