#logo {
    margin-left: auto !important;
    margin-right: auto !important;
}

.icon {
    color: black;
}

.has-text-white{
    font-family: 'Teko', sans-serif;
    font-size: 50px;
}

.has-text-black{
    font-family: 'Teko', sans-serif;
    font-size: 50px;
}

.title{
    font-family: 'Teko', sans-serif;
    font-size: 35px;
}

#weatherCondition{
    font-family: 'Teko', sans-serif;
    font-size: 40px;
}

h1{
    font-family: 'Teko', sans-serif;
    font-size: 40px;
}
#resultName-0{
    font-family: 'Teko', sans-serif;  
    font-size: 40px;
}
#categoryDisplay-0{
    font-family: 'Teko', sans-serif;  
    font-size: 27px;
}
#resultDistance-0{
    font-family: 'Teko', sans-serif;  
    font-size: 25px;
}
#isOpen-0{
    font-family: 'Teko', sans-serif;
    font-size: 40px;
}
#resultName-1{
    font-family: 'Teko', sans-serif;  
    font-size: 40px;
}
#categoryDisplay-1{
    font-family: 'Teko', sans-serif;  
    font-size: 27px;
}
#resultDistance-1{
    font-family: 'Teko', sans-serif;  
    font-size: 25px;
}
#isOpen-1{
    font-family: 'Teko', sans-serif;
    font-size: 40px;
}
#resultName-2{
    font-family: 'Teko', sans-serif;  
    font-size: 40px;
}
#categoryDisplay-2{
    font-family: 'Teko', sans-serif;  
    font-size: 27px;
}
#resultDistance-2{
    font-family: 'Teko', sans-serif;  
    font-size: 25px;
}
#isOpen-2{
    font-family: 'Teko', sans-serif;
    font-size: 40px;
}
#resultName-3{
    font-family: 'Teko', sans-serif;  
    font-size: 40px;
}
#categoryDisplay-3{
    font-family: 'Teko', sans-serif;  
    font-size: 27px;
}
#resultDistance-3{
    font-family: 'Teko', sans-serif;  
    font-size: 25px;
}
#isOpen-3{
    font-family: 'Teko', sans-serif;
    font-size: 40px;
}
#resultName-4{
    font-family: 'Teko', sans-serif;  
    font-size: 40px;
}
#categoryDisplay-4{
    font-family: 'Teko', sans-serif;  
    font-size: 27px;
}
#resultDistance-4{
    font-family: 'Teko', sans-serif;  
    font-size: 25px;
}
#isOpen-4{
    font-family: 'Teko', sans-serif;
    font-size: 40px;
}
#resultName-5{
    font-family: 'Teko', sans-serif;  
    font-size: 40px;
}
#categoryDisplay-5{
    font-family: 'Teko', sans-serif;  
    font-size: 27px;
}
#resultDistance-5{
    font-family: 'Teko', sans-serif;  
    font-size: 25px;
}
#isOpen-5{
    font-family: 'Teko', sans-serif;
    font-size: 40px;
}
#resultName-6{
    font-family: 'Teko', sans-serif;  
    font-size: 40px;
}
#categoryDisplay-6{
    font-family: 'Teko', sans-serif;  
    font-size: 27px;
}
#resultDistance-6{
    font-family: 'Teko', sans-serif;  
    font-size: 25px;
}
#isOpen-6{
    font-family: 'Teko', sans-serif;
    font-size: 40px;
}
#resultName-7{
    font-family: 'Teko', sans-serif;  
    font-size: 40px;
}
#categoryDisplay-7{
    font-family: 'Teko', sans-serif;  
    font-size: 27px;
}
#resultDistance-7{
    font-family: 'Teko', sans-serif;  
    font-size: 25px;
}
#isOpen-7{
    font-family: 'Teko', sans-serif;
    font-size: 40px;
}
#resultName-8{
    font-family: 'Teko', sans-serif;  
    font-size: 40px;
}
#categoryDisplay-8{
    font-family: 'Teko', sans-serif;  
    font-size: 27px;
}
#resultDistance-8{
    font-family: 'Teko', sans-serif;  
    font-size: 25px;
}
#isOpen-8{
    font-family: 'Teko', sans-serif;
    font-size: 40px;
}
#resultName-9{
    font-family: 'Teko', sans-serif;  
    font-size: 40px;
}
#categoryDisplay-9{
    font-family: 'Teko', sans-serif;  
    font-size: 27px;
}
#resultDistance-9{
    font-family: 'Teko', sans-serif;  
    font-size: 25px;
}
#isOpen-9{
    font-family: 'Teko', sans-serif;
    font-size: 40px;
}