#logo {
    margin-left: auto !important;
    margin-right: auto !important;
}

.icon {
    color: black;
}

h1{
    font-family: 'Teko', sans-serif;
    font-size: 40px;
}
#resultName-1{
    font-family: 'Teko', sans-serif;  
    font-size: 40px;
}
#categoryDisplay{
    font-family: 'Teko', sans-serif;  
}
#resultDistance-1{
    font-family: 'Teko', sans-serif;  
}
#resultPhone-1{
    font-family: 'Teko', sans-serif;
    font-size: 40px;
}
